/*img {*/
/*    background: url('../images/bg.jpg');*/
/*    background-repeat: no-repeat;*/
/*    background-size: 100% auto;*/
/*    background-position: center center;*/
/*    background-attachment: fixed;*/
/*    background-size: cover;*/
/*}*/

#login-box {
    width: 30%;
    height: auto;
    margin: 0 auto; 
    margin-top: 15%;
    text-align: center;
    background: #00000090;
    padding: 20px 50px;
}
#login-box h1 {
    color: #fff;
}
#login-box .form .item {
    margin-top:15px;

}

#login-box .form .item input {
    width: 180px !important;
    font-size: 18px!important;
    border: 0!important;
    border-bottom: 2px solid #fff!important;
    padding: 5px 10px!important;
    background: #ffffff00!important;
    color: #fff!important;
    background-color: #ffffff00!important;

}
#login-box button {
    margin-top: 15px;
    width: 180px;
    height: 30px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    background-image: linear-gradient(to right, #db3125 0%, #578bc3 100%);
    border: 0;
    border-radius: 15px;
}

